<div class="row justify-content-center m-4" ng-controller="SettingsCtrl">
    <div>
        <h3>Settings</h3>

        <app-highlight></app-highlight>

        <div app-highlight=""></div>

        <div class="app-highlight"></div>

        <!-- directive: app_PSUJE_-highlight -->

        <h4>Ostatnio zamknięte: {{zmienna}}</h4>

        <app-alert message="Ala ma kota" type="danger" on-dismiss="zmienna = 1"></app-alert>
        <app-alert message="Brak wiadomosci" type="info" on-dismiss="zmienna = 2"></app-alert>
        <app-alert message="Wiadomosc wyslana" type="success" on-dismiss=" zmienna = 3"></app-alert>
    </div>
</div>

