<div class="row justify-content-center m-4" ng-controller="TasksCtrl">
    <div class="col">
      <div class="mb-3 row g-3 align-items-center">
        <label class="form-label col-form-label"
          ><h4>Szukaj:</h4>
          <input ng-change="filter(taskName)" ng-model="taskName" type="text" class="form-control col-auto"
        /></label>
      </div>
    </div>
    <div class="col mb-3">
      <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Zadania wykonane</div>
          </div>
          <span class="badge bg-primary rounded-pill">{{completedCount}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Zadania do wykonania</div>
          </div>
          <span class="badge bg-primary rounded-pill">{{notCompletedCount}}</span>
        </li>
      </ol>
    </div>
    <div class="row mb-4">
      <div class="col">
        <h4 class="mb-4">Task list:</h4>
        <div class="list-group mb-3">
          <div
            class="list-group-item"
            ng-class=" { 
          'active': task.id == selectedTask.id,
          'text-decoration-line-through': task.completed
        } "
            ng-click="selectTask(task)"
            ng-repeat="task in filteredTasks"
          >
            {{$index+1}}. {{task.name}}
            <div>
              <button ng-click="removeTask(task)" class="btn btn-danger">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="mb-4">Task:</h4>
        <dl>
          <dt>Name</dt>
          <dd>{{selectedTask.name}}</dd>
          <dt>Completed:</dt>
          <dd>{{selectedTask.completed ? 'Yes' : 'No'}}</dd>
        </dl>
      </div>
      <div class="col">
        <h4 class="mb-4">Manage:</h4>
        <button class="btn btn-info" ng-click="edit()">Edit</button>
        <button class="btn btn-info" ng-click="add()">Add</button>
        <form ng-show="mode === 'edit' ">
          <div class="form-group my-2">
            <label>Name: <input type="text" class="form-control" ng-model="taskTmp.name" /></label>
          </div>
          <div class="form-group mb-3">
            <label>Completed <input type="checkbox" class="form-check-input" id="task-complite" ng-model="taskTmp.completed" /></label>
          </div>
          <button class="btn btn-success" ng-click="save()" ng-keypress="saveOnClick($event)">Save</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </form>
      </div>
    </div>
  
  
  </div>