<div class="row m-4">
  <user-page></user-page>
</div>



<!-- <div class="row m-4" ng-controller="UsersCtrl">
  <div class="row">
    <div class="col-5" ng-controller="UsersListCtrl">
      <h4>Users List</h4>
      <div class="list-group">
        <div class="list-group-item" ng-repeat="user in userPage.users track by $index" ng-click="userPage.select(user.id)">
          <p class="d-block">{{$index+1}}. {{user.name}}</p>
          <button class="btn btn-danger d-block" ng-click="list.deleteUser(user.id)">Remove</button>
        </div>
      </div>
    </div>
    <div class="col-5" ng-controller="UsersDetailCtrl">
      <div>
        <h4>Selected user details</h4>
        <dl>
          <dt>{{userPage.selected.id}}</dt>
          <dd>{{userPage.selected.name}}</dd>
          <dd>{{userPage.selected.email}}</dd>
        </dl>
      </div>
      <div>
        <div class="col" ng-controller="UsersManageCtrl">
          <h4 class="mb-4">Manage</h4>
          <button class="btn btn-info" ng-click="manage.edit()">Edit</button>
          <button class="btn btn-info" ng-click="manage.add()">Add</button>
          <form
            name="userPage.form"
            ng-if="manage.editMode!='none'"
            ng-init="manage.editMode=='edit' ? manage.initializeFormTmpData(userPage.selected) : manage.initializeFormTmpData({})"
            novalidate
          >
            <div class="form-group mb-3">
              <div>
                <label>Name: <input type="text" required minlength="3" name="username" class="form-control" ng-model="manage.userTmp.name" /></label>
                <div ng-if="userPage.form['username'].$dirty || userPage.form['username'].$touched || userPage.form['username'].$submitted">
                  <span class="text-danger" ng-if="userPage.form['username'].$error.minlength">Name is too short!</span>
                  <span class="text-danger" ng-if="userPage.form['username'].$error.required">Name is required!</span>
                </div>
              </div>
              <div>
                <label>Email: <input type="email" name="email" required class="form-control" ng-model="manage.userTmp.email" /></label>
                <div ng-if="userPage.form['email'].$dirty || userPage.form['email'].$touched || userPage.form['email'].$submitted">
                  <span class="text-danger" ng-if="userPage.form['email'].$error.email">This is not email!</span>
                  <span class="text-danger" ng-if="userPage.form['email'].$error.required">Email is required!</span>
                </div>
              </div>
            </div>
            <button
              class="btn btn-success"
              ng-click="userPage.save(manage.userTmp); manage.editMode=='edit' ? manage.cancel() : ''"
              ng-keypress="saveOnClick($event)"
            >
              Save
            </button>
            <button class="btn btn-warning" ng-click="manage.cancel()">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
